<input style="margin-left:40%; margin-top: 10px;" [(ngModel)]="searchCar" placeholder="Pretraži automobile">
<div  style="margin: auto;" id="maindiv">

    <div></div>
    <div class="row">

        <div  *ngFor="let car of cars" class="col-4" style="margin-top: 20px">
            <div class="card" [ngStyle]="cardStyle">
                <img class="card-img-top" src="{{car.image}}" alt="Card image cap" height="175px" >
                <h5 class="card-title" style="color: #0082e6; font-weight: bold; text-align: center; margin-top: 5px;">{{car.name}}</h5>
                <div class="card-body" [style.display]="cardDetails">
                    <p class="card-text" style="font-weight: bold;">Boja: {{car.color}}</p>
                    <p class="card-text" style="font-weight: bold;">Konjske snage: {{car.horsePower}}</p>
                    <p class="card-text" style="font-weight: bold;">Godina proizvodnje: {{car.yearOfProduction}}</p>
                    <p class="card-text" style="font-weight: bold;">Broj vrata: {{car.numberOfDoors}}</p>
                    <p class="card-text" style="font-weight: bold; color: darkred;">Cijena: {{car.price}}</p>
    
                    <input [(ngModel)]="car.name" type="text" placeholder="Novo ime automobila">

                </div>
            </div>
            <button  (click)="showDetails()" class="btn btn-primary" style="margin:10px 0 0 80px;">Uredi podatke</button>
        </div>

    </div>

    
    <div></div>
</div>
    
    




