#maindiv{
display: grid;
grid-template-columns: 15% 70% 15%;
}

.text-success{
    color: green;
}
.text-special{
    font-style: italic;
}

.carSelected{
    background: linear-gradient(180deg, rgb(146, 248, 115) 0%, rgba(111,160,194,1) 100%);
    color:white;
    transition: .2s;
    margin-top: 15px;
}

.card h5{
    color: #0082e6;
}

