.container{
margin-top: 20px;
padding: 20px;
border: gray 4px solid;
border-radius: 20px;
margin-bottom: 20px;


}
hr{
    border: 1px solid #bccedb;
}

.car-info{
    font-weight: bold;
    color:#8fa4b3;
}
#opis{
    color: rgb(123, 240, 112);
    font-weight: bold;


}

.car-info{

margin-left: 10px;
}

